DB_URL=jdbc:mysql://localhost:3306/ssabway_db?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul
DB_USERNAME=ssafy
DB_PASSWORD=ssafy
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=local

# 운영 환경에서 필요에 따라 조정
DB_POOL_MAX_SIZE=20
DB_POOL_MIN_IDLE=5
DB_CONNECTION_TIMEOUT=30000
