MYSQL_ROOT_PASSWORD=localonly
MYSQL_DATABASE=ssabway_db

OPENVIDU_URL=http://localhost:4443
OPENVIDU_SECRET=dummy
OPENVIDU_WEBHOOK_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=

JWT_SECRET=
MAIL_USERNAME=
MAIL_PASSWORD=