MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

OPENVIDU_URL=
OPENVIDU_SECRET=
OPENVIDU_WEBHOOK_SECRET=
INTERNAL_API_SECRET=

AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

JWT_SECRET=

MAIL_USERNAME=
MAIL_PASSWORD=

ODSAY_API_KEY=